In [1]:
import pandas as pd

import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
path = "/Users/shreyajain/MLAdhocProjects/Bottomline/bank-additional-full.csv"
df_input = pd.read_csv(path, sep=';', header=0)

In [3]:
df_input.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [19]:
# 1. Data Exploration
import pandas_profiling

profile = df_input.profile_report(title='Pandas Profiling Report')
profile.to_file(output_file="Data_profiling.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=33.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [5]:
df_input.count()

age               41188
job               41188
marital           41188
education         41188
default           41188
housing           41188
loan              41188
contact           41188
month             41188
day_of_week       41188
duration          41188
campaign          41188
pdays             41188
previous          41188
poutcome          41188
emp.var.rate      41188
cons.price.idx    41188
cons.conf.idx     41188
euribor3m         41188
nr.employed       41188
y                 41188
dtype: int64

In [6]:
# 2. Data cleaning 
# Data prep: 
# check for row duplicates -- for data leakage 
df_input_distinct = df_input.drop_duplicates()

In [7]:
# Impute the continuous features
# No continuous fatures need to be imputed


# Removing rows with marital status and job as unknown as unknown numbers as not as high
df_input_remove_job = df_input_distinct[df_input_distinct.job != 'unknown']
df_input_remove_marital = df_input_remove_job[df_input_remove_job.marital != 'unknown']

# Taking unknown as the new class for categorical variables 

# df_input_remove_marital.count()

In [8]:
# data leakage-- removing duration attribute
df_input_1 = df_input_remove_marital.drop(columns=['duration'])

df_input_1.count()

age               40775
job               40775
marital           40775
education         40775
default           40775
housing           40775
loan              40775
contact           40775
month             40775
day_of_week       40775
campaign          40775
pdays             40775
previous          40775
poutcome          40775
emp.var.rate      40775
cons.price.idx    40775
cons.conf.idx     40775
euribor3m         40775
nr.employed       40775
y                 40775
dtype: int64

In [9]:
# logistic regression
# 3. removing columns that are correlated for logistic regression

X = df_input_1.drop(columns=['y','euribor3m', 'nr.employed'])
y = df_input_1[['y']]

In [10]:
print ("X", X.shape)
print ("y ", y.shape)

X (40775, 17)
y  (40775, 1)

In [11]:
# Data prep for categorical data-- Converting Categorical Features
# ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

job = pd.get_dummies(X['job'],drop_first=True)
marital = pd.get_dummies(X['marital'],drop_first=True)
education = pd.get_dummies(X['education'],drop_first=True)
default = pd.get_dummies(X['default'],drop_first=True)
housing = pd.get_dummies(X['housing'],drop_first=True)
loan = pd.get_dummies(X['loan'],drop_first=True)
contact = pd.get_dummies(X['contact'],drop_first=True)
month = pd.get_dummies(X['month'],drop_first=True)
day_of_week = pd.get_dummies(X['day_of_week'],drop_first=True)
poutcome = pd.get_dummies(X['poutcome'],drop_first=True)

X.drop(['job','marital', 'education', 'default', 'housing', 'loan', 'month', 'contact', 'day_of_week', 'poutcome'],axis=1,inplace=True)


X = pd.concat([X,job,marital, education, default, housing, loan, month, contact, day_of_week, poutcome],axis=1)

X.head(10)

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,blue-collar,entrepreneur,housemaid,...,nov,oct,sep,telephone,mon,thu,tue,wed,nonexistent,success
0,56,1,999,0,1.1,93.994,-36.4,0,0,1,...,0,0,0,1,1,0,0,0,1,0
1,57,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
2,37,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
3,40,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
4,56,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
5,45,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
6,59,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
7,41,1,999,0,1.1,93.994,-36.4,1,0,0,...,0,0,0,1,1,0,0,0,1,0
8,24,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0
9,25,1,999,0,1.1,93.994,-36.4,0,0,0,...,0,0,0,1,1,0,0,0,1,0

In [12]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

X_train.head(10)

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,blue-collar,entrepreneur,housemaid,...,nov,oct,sep,telephone,mon,thu,tue,wed,nonexistent,success
26821,36,3,999,0,-0.1,93.200,-42.0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
1545,56,3,999,0,1.1,93.994,-36.4,0,1,0,...,0,0,0,1,0,1,0,0,1,0
1141,45,3,999,0,1.1,93.994,-36.4,1,0,0,...,0,0,0,1,0,0,0,1,1,0
21661,35,1,999,0,1.4,93.444,-36.1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
16782,46,1,999,0,1.4,93.918,-42.7,1,0,0,...,0,0,0,0,0,1,0,0,1,0
13024,31,35,999,0,1.4,93.918,-42.7,0,0,0,...,0,0,0,0,0,0,1,0,1,0
23373,37,11,999,0,1.4,93.444,-36.1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
20808,46,3,999,0,1.4,93.444,-36.1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
33537,35,5,999,0,-1.8,92.893,-46.2,0,0,0,...,0,0,0,0,0,0,1,0,1,0
29934,31,6,999,0,-1.8,93.075,-47.1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
print ("X_train ", X_train.shape)
print ("X_test ", X_test.shape)
print ("y_train ", y_train.shape)
print ("y_test ", y_test.shape)

X_train  (32620, 48)
X_test  (8155, 48)
y_train  (32620, 1)
y_test  (8155, 1)

In [14]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

/Users/shreyajain/anaconda3/envs/deep_learning/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Users/shreyajain/anaconda3/envs/deep_learning/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [15]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          no       0.90      0.99      0.94      7213
         yes       0.68      0.19      0.29       942

    accuracy                           0.90      8155
   macro avg       0.79      0.59      0.62      8155
weighted avg       0.88      0.90      0.87      8155

In [33]:
# Baseline Decision trees 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix


df_final = pd.get_dummies(df_input_1, columns = ['job', 'marital', 'education', 
                                                 'default', 'housing', 'loan', 'contact', 
                                                 'month', 'day_of_week', 'poutcome'], drop_first=True)


# X = df_final.drop(columns=['y','euribor3m', 'nr.employed'])
X = df_final.drop(columns=['y'])

y = df_final[['y']]
print ("X ", X.shape)
print ("y ", y.shape)



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

X  (40775, 50)
y  (40775, 1)

In [34]:
rfc = RandomForestClassifier(n_estimators=1000)
rfc.fit(X_train, y_train)

rfc_predict = rfc.predict(X_test)

from sklearn.metrics import accuracy_score

print(classification_report(y_test, rfc_predict))


acc = accuracy_score(y_test, rfc_predict, normalize=True)
print ("Model accuracy % ", acc)

<ipython-input-34-2d0b27472798>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train, y_train)

              precision    recall  f1-score   support

          no       0.91      0.97      0.94      7213
         yes       0.55      0.29      0.38       942

    accuracy                           0.89      8155
   macro avg       0.73      0.63      0.66      8155
weighted avg       0.87      0.89      0.88      8155

Model accuracy %  0.8903740036787247

In [35]:
# Boosted trees
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(random_state=0)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)


print(classification_report(y_test, y_pred))


acc = accuracy_score(y_test, y_pred, normalize=True)
print ("Model accuracy % ", acc)

/Users/shreyajain/anaconda3/envs/deep_learning/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

              precision    recall  f1-score   support

          no       0.91      0.98      0.94      7213
         yes       0.65      0.26      0.38       942

    accuracy                           0.90      8155
   macro avg       0.78      0.62      0.66      8155
weighted avg       0.88      0.90      0.88      8155

Model accuracy %  0.8987124463519314

In [31]:
# raw_data : run random forest , cz of duration high scoring 

df_final = pd.get_dummies(df_input, columns = ['job', 'marital', 'education', 
                                                 'default', 'housing', 'loan', 'contact', 
                                                 'month', 'day_of_week', 'poutcome'], drop_first=True)


X_new = df_final.drop("y", axis=1)
y_new = df_final["y"]
print ("X ", X_new.shape)
print ("y ", y_new.shape)



X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.20, random_state=42)

# rfc2 = RandomForestClassifier(n_estimators=1000)

rfc2 = GradientBoostingClassifier(random_state=0)


rfc2.fit(X_train, y_train)

rfc_predict2 = rfc2.predict(X_test)

from sklearn.metrics import accuracy_score

print(classification_report(y_test, rfc_predict2))


acc = accuracy_score(y_test, rfc_predict2, normalize=True)
print ("Model accuracy % ", acc)

X  (41188, 53)
y  (41188,)
              precision    recall  f1-score   support

          no       0.94      0.97      0.96      7303
         yes       0.69      0.53      0.60       935

    accuracy                           0.92      8238
   macro avg       0.82      0.75      0.78      8238
weighted avg       0.91      0.92      0.91      8238

Model accuracy %  0.9196406894877397

In [36]:
# Solve imbalanced dataset problem 

# 1. Upsample -- problem of data leakage persists though 
from sklearn.utils import resample


# Separate majority and minority classes
df_majority = df_input_1[df_input_1.y=='no']
df_minority = df_input_1[df_input_1.y=='yes']
 
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=30000,    # to match majority class
                                 random_state=123) # reproducible results
 
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
df_upsampled.y.value_counts()
# 1    576
# 0    576
# Name: balance, dtype: int64







df_final = pd.get_dummies(df_upsampled, columns = ['job', 'marital', 'education', 
                                                 'default', 'housing', 'loan', 'contact', 
                                                 'month', 'day_of_week', 'poutcome'], drop_first=True)


X = df_final.drop(columns=['y','euribor3m', 'nr.employed'])
# X = df_final.drop(columns=['y'])

y = df_final[['y']]
print ("X ", X.shape)
print ("y ", y.shape)



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

rfc = RandomForestClassifier(n_estimators=1000)

# rfc = GradientBoostingClassifier(random_state=0)

rfc.fit(X_train, y_train)

rfc_predict = rfc.predict(X_test)

from sklearn.metrics import accuracy_score

print(classification_report(y_test, rfc_predict))


acc = accuracy_score(y_test, rfc_predict, normalize=True)
print ("Model accuracy % ", acc)

X  (66182, 48)
y  (66182, 1)

<ipython-input-36-5d8932030776>:52: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train, y_train)

              precision    recall  f1-score   support

          no       1.00      0.92      0.96      7192
         yes       0.92      1.00      0.95      6045

    accuracy                           0.96     13237
   macro avg       0.96      0.96      0.96     13237
weighted avg       0.96      0.96      0.96     13237

Model accuracy %  0.9567877917957242

In [41]:
# 2. Downsample


# Separate majority and minority classes
df_majority = df_input_1[df_input_1.y=='no']
df_minority = df_input_1[df_input_1.y=='yes']

# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=5000,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled.y.value_counts()


df_final = pd.get_dummies(df_downsampled, columns = ['job', 'marital', 'education', 
                                                 'default', 'housing', 'loan', 'contact', 
                                                 'month', 'day_of_week', 'poutcome'], drop_first=True)


X = df_final.drop(columns=['y','euribor3m', 'nr.employed'])
# X = df_final.drop(columns=['y'])

y = df_final[['y']]
print ("X ", X.shape)
print ("y ", y.shape)



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

# rfc = RandomForestClassifier(n_estimators=1000)

rfc = GradientBoostingClassifier(random_state=0)

rfc.fit(X_train, y_train)

rfc_predict = rfc.predict(X_test)

from sklearn.metrics import accuracy_score

print(classification_report(y_test, rfc_predict))


acc = accuracy_score(y_test, rfc_predict, normalize=True)
print ("Model accuracy % ", acc)

X  (9593, 48)
y  (9593, 1)

/Users/shreyajain/anaconda3/envs/deep_learning/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

              precision    recall  f1-score   support

          no       0.72      0.86      0.78      1013
         yes       0.80      0.62      0.70       906

    accuracy                           0.75      1919
   macro avg       0.76      0.74      0.74      1919
weighted avg       0.76      0.75      0.75      1919

Model accuracy %  0.7503908285565398

In [ ]:
# 3. Changing the loss function

from sklearn.svm import SVC

df_final = pd.get_dummies(df_input_1, columns = ['job', 'marital', 'education', 
                                                 'default', 'housing', 'loan', 'contact', 
                                                 'month', 'day_of_week', 'poutcome'], drop_first=True)


X = df_final.drop(columns=['y','euribor3m', 'nr.employed'])
# X = df_final.drop(columns=['y'])

y = df_final[['y']]
print ("X ", X.shape)
print ("y ", y.shape)



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)


# Train model
clf_3 = SVC(kernel='linear', 
            class_weight='balanced', # penalize
            probability=True)
 
clf_3.fit(X_train, y_train)
 
# Predict on training set
pred_y_3 = clf_3.predict(X_test)


target_names = ['no', 'yes']
print(classification_report(y_test, pred_y_3, target_names=target_names))

In [15]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix


# df_final = pd.get_dummies(df_input_1, columns = ['job', 'marital', 'education', 
#                                                  'default', 'housing', 'loan', 'contact', 
#                                                  'month', 'day_of_week', 'poutcome'], drop_first=True)


X = df_input_1.drop(columns=['y','euribor3m', 'nr.employed'])
# X = df_final.drop(columns=['y'])

y = df_input_1[['y']]
print ("X ", X.shape)
print ("y ", y.shape)



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)


# Train model

X  (40775, 17)
y  (40775, 1)

In [16]:
X_train['job'] = X_train['job'].astype('category')
X_train['marital'] = X_train['marital'].astype('category')
X_train['education'] = X_train['education'].astype('category')
X_train['default'] = X_train['default'].astype('category')
X_train['housing'] = X_train['housing'].astype('category')
X_train['loan'] = X_train['loan'].astype('category')
X_train['contact'] = X_train['contact'].astype('category')
X_train['month'] = X_train['month'].astype('category')
X_train['day_of_week'] = X_train['day_of_week'].astype('category')
X_train['poutcome'] = X_train['poutcome'].astype('category')




X_train['job'] = X_train['job'].cat.codes
X_train['marital'] = X_train['marital'].cat.codes
X_train['education'] = X_train['education'].cat.codes
X_train['default'] = X_train['default'].cat.codes
X_train['housing'] = X_train['housing'].cat.codes
X_train['loan'] = X_train['loan'].cat.codes
X_train['contact'] = X_train['contact'].cat.codes
X_train['month'] = X_train['month'].cat.codes
X_train['day_of_week'] = X_train['day_of_week'].cat.codes
X_train['poutcome'] = X_train['poutcome'].cat.codes

X_train.head(10)

<ipython-input-16-27995207b073>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['job'] = X_train['job'].astype('category')
<ipython-input-16-27995207b073>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['marital'] = X_train['marital'].astype('category')
<ipython-input-16-27995207b073>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['education'] = X_train['education'].astype('category')
<ipython-input-16-27995207b073>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['default'] = X_train['default'].astype('category')
<ipython-input-16-27995207b073>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['housing'] = X_train['housing'].astype('category')
<ipython-input-16-27995207b073>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['loan'] = X_train['loan'].astype('category')
<ipython-input-16-27995207b073>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['contact'] = X_train['contact'].astype('category')
<ipython-input-16-27995207b073>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['month'] = X_train['month'].astype('category')
<ipython-input-16-27995207b073>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['day_of_week'] = X_train['day_of_week'].astype('category')
<ipython-input-16-27995207b073>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['poutcome'] = X_train['poutcome'].astype('category')
<ipython-input-16-27995207b073>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['job'] = X_train['job'].cat.codes
<ipython-input-16-27995207b073>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['marital'] = X_train['marital'].cat.codes
<ipython-input-16-27995207b073>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['education'] = X_train['education'].cat.codes
<ipython-input-16-27995207b073>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['default'] = X_train['default'].cat.codes
<ipython-input-16-27995207b073>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['housing'] = X_train['housing'].cat.codes
<ipython-input-16-27995207b073>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['loan'] = X_train['loan'].cat.codes
<ipython-input-16-27995207b073>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['contact'] = X_train['contact'].cat.codes
<ipython-input-16-27995207b073>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['month'] = X_train['month'].cat.codes
<ipython-input-16-27995207b073>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['day_of_week'] = X_train['day_of_week'].cat.codes
<ipython-input-16-27995207b073>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['poutcome'] = X_train['poutcome'].cat.codes

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx
26821,36,9,2,5,0,2,0,0,7,2,3,999,0,1,-0.1,93.200,-42.0
1545,56,2,1,6,0,2,0,1,6,2,3,999,0,1,1.1,93.994,-36.4
1141,45,1,1,2,1,0,0,1,6,4,3,999,0,1,1.1,93.994,-36.4
21661,35,9,1,5,0,0,0,0,1,3,1,999,0,1,1.4,93.444,-36.1
16782,46,1,1,1,0,0,0,0,3,2,1,999,0,1,1.4,93.918,-42.7
13024,31,0,2,3,0,0,0,0,3,3,35,999,0,1,1.4,93.918,-42.7
23373,37,0,2,6,0,0,0,0,1,4,11,999,0,1,1.4,93.444,-36.1
20808,46,5,1,2,1,2,0,0,1,4,3,999,0,1,1.4,93.444,-36.1
33537,35,7,0,3,0,2,0,0,6,3,5,999,0,1,-1.8,92.893,-46.2
29934,31,0,2,6,0,0,0,0,0,1,6,999,0,1,-1.8,93.075,-47.1

In [ ]:
clf_3 = SVC(kernel='linear', 
            class_weight='balanced', # penalize
            probability=True, cache_size=7000)
 
clf_3.fit(X_train, y_train)

/Users/shreyajain/anaconda3/envs/deep_learning/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)